/*********************
* dimension styles:
* width-auto, height-auto, width-full, height-full
*********************/
.width-auto{
  width: auto;
}
.height-auto{
  height: auto;
}
.width-full{
  width: 100%;
}
.height-full{
  height: 100%;
}